/* Generated file */
:root {
  --tabify-navigation-color: black;
}

[data-theme='dark'] .--ac-tabify .tab_box .tab_btn.active {
  color: var(--tabify-navigation-color);
}

[data-theme='dark'] .--ac-tabify .line {
  background-color: var(--tabify-navigation-color);
}
