.--ac-tabify {
  width: 600px;
  padding: 30px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: white;
}

.--ac-tabify .tab_box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #e5ffff;
  font-size: 18px;
  font-weight: 600;
  background-color: red;
}
