[data-theme='dark'] .--ac-button {
    background-image: none;
}

[data-theme='dark'] .--ac-button.--variant-primary {
    background-color: #4b5563;
}

[data-theme='dark'] .--ac-button.--variant-secondary {
    background-color: #374151;
}

[data-theme='dark'] .--ac-button.--variant-tertiary {
    background-color: #1f2937;
}