:root {
    --btn-focus-outline: 1px solid #fff;
}

.--ac-btn {
    white-space: break-spaces;
}

.--ac-btn.outlined:active:focus, 
.--ac-btn.outlined.active:focus, 
.--ac-btn.outlined:active.focus, 
.--ac-btn.outlined.active.focus {
    outline: var(--btn-focus-outline);
}
/* --Tailwind-- */
.--ac-btn {
    @apply text-white text-sm 2sm:text-base
        flex text-center gap-1 no-underline align-middle rounded-md p-1 2sm:px-3 2sm:py-1;
}

.--ac-btn-\[primary\] {
    @apply bg-primary hover:bg-primary-hover active:bg-primary-active
        text-primary-tc hover:text-primary-hover-tc active:text-primary-active-tc;
}

.--ac-btn-\[secondary\] {
    @apply bg-secondary hover:bg-secondary-hover active:bg-secondary-active
        text-secondary-tc hover:text-secondary-hover-tc active:text-secondary-active-tc;
}

.--ac-btn-\[tertiary\] {
    @apply bg-tertiary hover:bg-tertiary-hover active:bg-tertiary-active
    text-tertiary-tc hover:text-tertiary-hover-tc active:text-tertiary-active-tc;
}

.--ac-btn .btn-label {
    @apply  cursor-pointer text-xs 2sm:text-base;
}

.--ac-btn .btn-icon {
    @apply  inline-block;
}

/* -Disabled button state- */
.--ac-btn:disabled,
.--ac-btn:disabled:hover,
.--ac-btn:disabled:active,
.--ac-btn:disabled .btn-label {
    @apply opacity-60 cursor-not-allowed;
}

.--ac-btn-\[primary\]:disabled {
    @apply bg-primary;
}

.--ac-btn-\[secondary\]:disabled {
    @apply bg-secondary;
}

.--ac-btn-\[tertiary\]:disabled {
    @apply bg-tertiary;
}