:root {
    --btn-focus-outline: 1px solid #fff;
}

.--ac-btn {
    white-space: break-spaces;
}

.--ac-btn.outlined:active:focus, 
.--ac-btn.outlined.active:focus, 
.--ac-btn.outlined:active.focus, 
.--ac-btn.outlined.active.focus {
    outline: var(--btn-focus-outline);
}