:root {
    --btn-color: var(--button-color);
    --btn-bg-color: var(--button-background-color);
    --btn-border-radius: var(--button-border-radius);
    --btn-border: none;

    --btn-bg-color-primary: linear-gradient(180deg,#ffc933,#f7901d);
    --btn-bg-color-secondary: linear-gradient(180deg,#fa57cc,#f444b8 26.85%,#ed30a3 51.39%,#e51e8d 85.97%,#bb116d);
    --btn-bg-color-tertiary: #00648f;

    --btn-bg-color-primary-hover: linear-gradient(180deg,#ffe246,#ffc933 34.95%,#ffb22f);
    --btn-bg-color-secondary-hover: linear-gradient(180deg,#ff5fe7,#ff4bd4 26.85%,#ff32b9 51.39%,#ff1ea2 83.64%,#dd067f);
    --btn-bg-color-tertiary-hover: #00648f;
    
    --btn-focus-outline: 1px solid #fff;
}

.--ac-btn {
    color: var(--btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background-color: var(--btn-bg-color);
    border-radius: var(--btn-border-radius);
    border: var(--btn-border);
    white-space: break-spaces;
    padding: 6px 12px;
}

.--ac-btn:active {
    color: var(--btn-color);
}


.--ac-btn:active:focus, 
.--ac-btn.active:focus, 
.--ac-btn:active.focus, 
.--ac-btn.active.focus {
    outline: var(--btn-focus-outline);
}

.--ac-btn.btn-primary {
    background: var(--btn-bg-color-primary);
}

.--ac-btn.btn-secondary {
    background: var(--btn-bg-color-secondary);
}

.--ac-btn.btn-tertiary {
    background: var(--btn-bg-color-tertiary);
}

.--ac-btn.btn-primary:hover:not(:disabled) {
    background: var(--btn-bg-color-primary-hover);
}

.--ac-btn.btn-secondary:hover:not(:disabled) {
    background: var(--btn-bg-color-secondary-hover);
}

.--ac-btn.btn-tertiary:hover:not(:disabled) {
    background: var(--btn-bg-color-tertiary-hover);
}

.--ac-btn.btn-icon {
    min-width: 46px;
}

.--ac-btn.btn-icon .btn-label {
    display: inline-block;
    margin-left: 30px;
}

.--ac-btn.btn-icon:before {
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    position: fixed;
}

.--ac-btn.btn-icon.icon-hamburger:before {
    background-image: url(../src/assets/icon-hamburger.svg);
}

/* ----------------- RESPONSIVE SECTION ----------------- */
@media screen and (max-width: 1023px) {
    .--ac-btn.btn-icon .btn-label {
        display: none;
    }
}