.--ac-game-tile {
    @apply text-black;
}

.--ac-game-tile .game-badges {
    position: absolute;
    left: 0;
    top: 4px;
}

.--ac-game-tile .game-badge {
    color: #000;
    font-size: 10px;
    background-color: #a8deff;
    white-space: nowrap;
    padding: 1px 2px;
    width: fit-content;
    margin-bottom: 2px;
    border-radius: 2px;
}

.--ac-game-tile .game-badges .list-group-item {
    line-height: 100%;
}