.component.headerbar {
    padding-inline: 12px;
    height: 54px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background: linear-gradient(to bottom,#009ce4 0%,#0094d5 100%);
}

.component.headerbar .header-buttons {
    display: flex;
    gap: 8px;
}

.component.headerbar .header-logo {
    height: 96px;
    width: 96px;
    background-image: url('../../assets/logo.png');
    background-size: 100%;
}