.--ac-headerbar {
    padding-inline: 0.25rem;
    background: linear-gradient(to bottom,#009ce4 0%,#0094d5 100%);
}

.--ac-headerbar .--site-logo {
    height: 96px;
    width: 96px;
    background-image: url('../../assets/logo.png');
    background-size: 100%;
}

/* --Tailwind-- */
.--ac-headerbar {
    @apply flex flex-row content-center items-center justify-between overflow-hidden;
}