.--ac-headerbar {
    padding-inline: 0.25rem;
}

.--ac-headerbar .--site-logo {
    height: 96px;
    width: 96px;
    background-image: url('../../assets/logo.png');
    background-size: 100%;
}

/* --Tailwind-- */
.--ac-headerbar {
    @apply bg-ac-headerbar
        flex flex-row content-center items-center justify-between overflow-hidden;
}