.--ac-headerbar {
    padding-inline: 0.25rem;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background: linear-gradient(to bottom,#009ce4 0%,#0094d5 100%);
}

.--ac-headerbar .--site-logo {
    height: 96px;
    width: 96px;
    background-image: url('../../assets/logo.png');
    background-size: 100%;
}

.--ac-headerbar .--flx-grp {
    display: flex;
    gap: 0.25rem;
}