.--ac-link {
    @apply block text-white;
}

.--ac-link.--ac-button {
    @apply rounded-md p-1 text-sm 2sm:text-base inline-block m-1;
}

.--ac-link .link-wrapper {
    @apply flex text-center gap-1 align-middle items-center;
}

.--ac-link .--ac-label {
    @apply  cursor-pointer text-xs 2sm:text-base;
}