.--ac-tabify {
    .container {
        width: 600px;
        padding: 30px;
        box-shadow: 0 2px 16px rgba(0, 0, 0, .1);
        border-radius: 20px;
        background-color: white;
        margin: 5px auto;
    }

    .tab_box {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 2px solid rgba(229, 299, 299, 1);
        position: relative;
    }

    .tab_box .tab_btn {
        font-size: 18px;
        font-weight: 600;
        color: #919191;
        background: none;
        border: none;
        padding: 18px;
        cursor: pointer;
    }

    .content_box {
        padding: 20px;
    }

    .content_box .content {
        display: none;
        animation: moving .5s ease;
    }

    .content_box .content.active {
        display: block;
    }

    @keyframes moving {
        from {transform: translateX(50px); opacity: 0; }
        to {transform: translateX(0px); opacity: 1; }
    }

    .content_box .content h2 {
        margin-bottom: 10px;
    }

    .line {
        position: absolute;
        top: 62px;
        left: 0;
        width: 90px;
        height: 5px;
        border-radius: 10px;
        transition: all .3s ease-in-out;
    }
}