.--ac-game-list .carousel-nav {
    top: 57px;
    height: 36px;
    width: 36px;
}

.--ac-game-list .carousel-nav-left {
    left: -18px;
}

.--ac-game-list .carousel-nav-right {
    right: -18px;
}

.--ac-game-list .carousel-slider {
    transition: transform 0.5s ease-in-out;
}

.--ac-game-list .--ac-game-tile.active {
    box-shadow: inset 0px -2px 0px #004766;
}
/* 
.--ac-game-list  .carousel-slider.translateX {
    transform: translateX(-100%);
} */
