/* Generated file */
.--ac-theme-toggle {
  padding: 12px 8px;
  margin: 8px 12px;
  border: 1px solid gray;
  display: block;
  position: fixed;
  top: calc(13.5%);
  right: 0;
  background-color: #eae6e6;
  color: black;
  z-index: 1;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.--ac-theme-toggle .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.--ac-theme-toggle .theme-option {
  display: flex;
  flex-direction: row;
  gap: 2px;
  padding: 2px 0;
}

.--ac-theme-toggle label {
  width: 60px;
}

.--ac-theme-toggle select {
  width: 160px;
}
