@import './variables.css';
@import '../components/atoms/Span/span-icon.css';
@import './components/button.css';
@import './components/link.css';
@import './components/headerbar.css';
@import './components/topnavigation.css';
@import './components/gametile.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(0, 161, 229);
}