@import './variables.css';
@import '../components/atoms/Span/span-icon.css';
@import '../components/molecules/GameTile/GameTile.css';
@import '../components/organisms/GameList/GameList.css';
@import './components/button.css';
@import './components/link.css';
@import './components/headerbar.css';
@import './components/topnavigation.css';
/* @import './components/gametile.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: var(--theme-bg);
}