.--ac-theme-toggle {
    z-index: 1;
    padding: 4px 8px;
    margin: 8px 12px;
    border: 1px solid gray;
    display: block;
    position: fixed;
    top: calc(15%);
    right: 5px;
    background-color: rgb(234, 230, 230);
    color: black;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .5);
    border-radius: 5px;
    animation: moving .5s ease;
    
    &.minimize {
        border-radius: 25px;
        height: 50px;
        width: 50px;

        .controls { 
            justify-content: center;
            transform: translateY(8px);
        }

        .content {
            display: none;
        }
    }

    .controls { 
        padding-bottom: 5px;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .theme-option {
        display: flex;
        flex-direction: row;
        gap: 2px;
        padding: 2px 0;
    }

    label {
        width: 60px;
    }

    select {
        width: 160px;
    }
}