.--ac-game-tile .game-tile-link {
    height: 150px;
    width: 150px;
    max-width: 150px;
    max-height: 150px;
}

.--ac-game-tile .game-tile-badges {
    position: absolute;
    left: 0;
    top: 4px;
}

.--ac-game-tile .game-tile-badge {
    color: #000;
    font-size: 10px;
    background-color: #a8deff;
    white-space: nowrap;
    padding: 1px 2px;
    width: fit-content;
    margin-bottom: 2px;
    border-radius: 2px;
}