/* Generated file */
.--ac-theme-toggle {
  z-index: 1;
  padding: 4px 8px;
  margin: 8px 12px;
  border: 1px solid gray;
  display: block;
  position: fixed;
  top: calc(15%);
  right: 5px;
  background-color: #eae6e6;
  color: black;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  animation: moving .5s ease;
}

.--ac-theme-toggle.minimize {
  border-radius: 25px;
  height: 50px;
  width: 50px;
}

.--ac-theme-toggle.minimize .controls {
  justify-content: center;
  transform: translateY(8px);
}

.--ac-theme-toggle.minimize .content {
  display: none;
}

.--ac-theme-toggle .controls {
  padding-bottom: 5px;
}

.--ac-theme-toggle .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.--ac-theme-toggle .theme-option {
  display: flex;
  flex-direction: row;
  gap: 2px;
  padding: 2px 0;
}

.--ac-theme-toggle label {
  width: 60px;
}

.--ac-theme-toggle select {
  width: 160px;
}
