.--ac-game-list .carousel-nav {
    top: 57px;
    height: 36px;
    width: 36px;
}

.--ac-game-list .carousel-nav-left {
    left: -18px;
}

.--ac-game-list .carousel-nav-right {
    right: -18px;
}

.--ac-game-list .carousel-slider {
    transition: transform 0.5s ease-in-out;
}

.--ac-game-list  .carousel-slider.translateX {
    transform: translateX(-100%); /* Add initial transform property */
}